.a1{
   background-color: black !important;
   height: 100vh;
}
.a2{
    text-align: center;
    margin-top: 150px;
}
.a3{
    text-align: left;
}
.a4{
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
}
.a4:hover{
    text-decoration: none;
   background-color: gray;

}
.a5{
    margin-left: -5px;
}
.a6{
    font-weight: bold;
}
@media only screen and(max-width:768px){
    .a2{
        text-align: center;
        margin-top: 150px;
    }
}